<div id="main_content_header">
  <div id="header_left_cont_area">
    <span>稼働中ＰＪ一覧</span>
  </div>
  <div id="header_right_cont_area">
    <span>大成　太郎</span>
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faBookBookmark" style="margin-right: 0px;"></fa-icon>
    </button>
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faRightFromBracket" style="margin-right: 0px;"></fa-icon>
    </button>
  </div>
</div>
<div id="main_content_area">
  <div style="color: red;" (click)="showLoadingSpinner()">エラーが1件発生しています。</div>
  <div id="search_cond">
    <input type="checkbox" class="elem_hidden" id="search_cond_open_flg">
    <label id="search_cond_open_icon" for="search_cond_open_flg">
      <div id="search_cond_head">
        <fa-icon class="open_content" [icon]="fontAwesome.faAngleUp"></fa-icon>
        <fa-icon class="elem_hidden close_content" [icon]="fontAwesome.faAngleDown"></fa-icon>
        <span>検索条件&nbsp;</span>
        <span class="open_content">非表示</span>
        <span class="elem_hidden close_content">表示&emsp;</span>
      </div>
    </label>
    <div id="search_cond_content">
      <div>
        <div class="cond_index">
          <div>検索項目名６７８９０&nbsp;</div>
          <div class="required_mark">*
          </div>
          <div>
            <input type="search" [(ngModel)]="inputNumber" (blur)="inputNumber=commonLogic.commaEditing(inputNumber)"
              (focus)="inputNumber=commonLogic.removeCommaEditing(inputNumber)"
              style="text-align: right;" class="required_input">
            <br>
            <span style="color: red;">必須項目です。</span>
          </div>
        </div>
      </div>
      <div>
        <div class="cond_index">
          <div>日付(年月日)&nbsp;</div>
          <div class="cond_mark"></div>
          <div>
            <input appDatepickerYmFormat [matDatepicker]="picker1" [(ngModel)]="inputDateFrom" class="input_date"
              maxlength="10" (click)="picker1.open()" (focusout)="dateFocusOut($event)">
            <mat-datepicker #picker1></mat-datepicker>
            <span>&nbsp;ー&nbsp;</span>
            <input appDatepickerYmFormat [matDatepicker]="picker2" [(ngModel)]="inputDateTo" class="input_date"
              maxlength="10" (click)="picker2.open()" (focusout)="dateFocusOut($event)">
            <mat-datepicker #picker2></mat-datepicker>
          </div>
        </div>
      </div>
      <div>
        <div class="cond_index">
          <div>検索項目名６７８９０&nbsp;</div>
          <div class="cond_required_mark"></div>
          <div>
            <input type="search" readonly style="width: 60%;" id="input_ref">
            <button class="small_button" (click)="openModalDialog();">
              <fa-icon [icon]="fontAwesome.faMagnifyingGlass"></fa-icon>
              <span>参照</span>
            </button>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class="cond_index">
          <div>検索項目名６７&nbsp;</div>
          <div class="cond_required_mark">*</div>
          <div>
            <input type="search" style="width: 80%;" class="cond_required_input">
            <fa-icon [icon]="fontAwesome.faCircleQuestionRegular" class="help_icon" matTooltip="ツールチップの説明"
              matTooltipPosition="right"></fa-icon>
          </div>
        </div>
      </div>
      <div>
        <div class="cond_index">
          <div>セレクトボックス&nbsp;</div>
          <div class="cond_mark"></div>
          <div>
            <mat-select [(ngModel)]="inputSelect">
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let option of selectOption" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div>
        <div class="cond_index">
          <div>検索項目名６７&nbsp;</div>
          <div class="cond_mark"></div>
          <div><input type="search"></div>
        </div>
      </div>
      <br>
      <div>
        <div class="cond_index">
          <div>検索項目名６７８９０&nbsp;</div>
          <div class="cond_mark"></div>
          <div><input type="search" readonly></div>
        </div>
      </div>
      <div>
        <div class="cond_index">
          <div>チェックボックス&nbsp;</div>
          <div class="cond_mark"></div>
          <div>
            <mat-checkbox disabled>項目1</mat-checkbox>
            <mat-checkbox disabled checked>項目2</mat-checkbox>
            <mat-checkbox>項目3</mat-checkbox>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class="cond_index">
          <div>検索項目名６７８９０&nbsp;</div>
          <div class="cond_mark"></div>
          <div><input type="search" inputmode="kana-name"></div>
        </div>
      </div>
      <div>
        <div class="cond_index">
          <div>ラジオボタン&nbsp;</div>
          <div class="cond_mark"></div>
          <div>
            <mat-radio-group [(ngModel)]="inputRadio">
              <mat-radio-button [disabled]="inputRadioDisabled">項目1</mat-radio-button>
              <mat-radio-button [checked]="inputRadioChecked" [disabled]="inputRadioDisabled">項目2</mat-radio-button>
              <mat-radio-button>項目3</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class="cond_index">
          <div>検索項目名６７８９０&nbsp;</div>
          <div class="cond_mark"></div>
          <div><input type="search"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="search_btn">
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faMagnifyingGlass"></fa-icon>
      <span>検索</span>
    </button>
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faEraser"></fa-icon>
      <span>クリア</span>
    </button>
  </div>
  <div>
    <span>件数：{{tableData.length}}件&emsp;</span>
    <span>ソート順：固定項目名1</span>
    <fa-icon [icon]="fontAwesome.faArrowDownAZ"></fa-icon>
    <span>&nbsp;＞&nbsp;固定項目名2</span>
    <fa-icon [icon]="fontAwesome.faArrowDownZA"></fa-icon>
  </div>
  <div id="seatch_rs">
    <div id="seatch_rs_lock">
      <table id="seatch_rs_lock_tbl">
        <thead>
          <tr>
            <th>固定項目名1</th>
            <th>固定項目名2</th>
            <th>固定項目名3</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let data of tableData | slice: showDataStartIndex: showDataStartIndex + showOnePageDataLength; odd as isOdd;">
            <tr [ngClass]="isOdd ? 'seatch_rs_odd_rec' : 'seatch_rs_even_rec'">
              <td><a (click)="openSubWindow('./screen2');">{{data.lock_col1}}</a></td>
              <td>{{data.lock_col2}}</td>
              <td>{{data.lock_col3}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div id="seatch_rs_move">
      <table id="seatch_rs_move_tbl">
        <thead>
          <tr>
            <th>移動項目名1</th>
            <th>移動項目名2</th>
            <th>移動項目名3</th>
            <th>移動項目名4</th>
            <th>移動項目名5</th>
            <th>移動項目名6</th>
            <th>移動項目名7</th>
            <th>移動項目名8</th>
            <th>移動項目名9</th>
            <th>移動項目名10</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let data of tableData | slice: showDataStartIndex: showDataStartIndex + showOnePageDataLength; odd as isOdd;">
            <tr [ngClass]="isOdd ? 'seatch_rs_odd_rec' : 'seatch_rs_even_rec'">
              <td>{{data.move_col1}}</td>
              <td>{{data.move_col2}}</td>
              <td>{{data.move_col3}}</td>
              <td>{{data.move_col4}}</td>
              <td>{{data.move_col5}}</td>
              <td>{{data.move_col6}}</td>
              <td>{{data.move_col7}}</td>
              <td>{{data.move_col8}}</td>
              <td>{{data.move_col9}}</td>
              <td>{{data.move_col10}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div id="seatch_rs_paging">
        <fa-icon [icon]="fontAwesome.faAnglesLeft" (click)="changePage(0);"></fa-icon>
        <fa-icon [icon]="fontAwesome.faAngleLeft" (click)="changePage(nowPageNumber - 1);"></fa-icon>
        <ng-container *ngFor="let page of linkData;">
            <div *ngIf="page != -1; then trueComponent; else falseComponent"></div>
            <ng-template #trueComponent>
                <a *ngIf="page != nowPageNumber;" (click)="changePage(page)">{{page + 1}}</a>
                <span *ngIf="page == nowPageNumber;">{{page + 1}}</span>
            </ng-template>
            <ng-template #falseComponent>...</ng-template>
        </ng-container>
        <fa-icon [icon]="fontAwesome.faAngleRight" (click)="changePage(nowPageNumber + 1);"></fa-icon>
        <fa-icon [icon]="fontAwesome.faAnglesRight" (click)="changePage(tableData.length - 1);"></fa-icon>
    </div> -->
</div>
<div id="main_content_footer">
  <input type="checkbox" class="elem_hidden" id="footer_open_flg">
  <label id="footer_open_icon" for="footer_open_flg">
    <fa-icon class="open_content" [icon]="fontAwesome.faAngleUp"></fa-icon>
    <fa-icon class="elem_hidden close_content" [icon]="fontAwesome.faAngleDown"></fa-icon>
  </label>
  <div id="footer_btn_area" style="flex-grow: 1; min-width: 0px;" (onResize)="resizeFooter($event)">
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faFileCsv"></fa-icon>
      <span>一覧</span>
    </button>
    <!-- <button class="nomal_button" (click)="printPreview()">
            <fa-icon [icon]="fontAwesome.faFilePdf"></fa-icon>
            <span>画面印刷</span>
        </button> -->
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faFilePdf"></fa-icon>
      <span>ダウンロード</span>
    </button>
    <div style="flex-grow: 1;"></div>
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faFloppyDisk"></fa-icon>
      <span>保存</span>
    </button>
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faFileCircleCheck"></fa-icon>
      <span>承認</span>
    </button>
    <button class="nomal_button">
      <fa-icon [icon]="fontAwesome.faReply"></fa-icon>
      <span>差戻</span>
    </button>
  </div>
</div>